---
# https://github.com/open-telemetry/opentelemetry-collector/releases
# https://github.com/open-telemetry/opentelemetry-collector-contrib/releases
dist:
  name: otelcol
  description: OTel collector for ne-sachirou PC MacBook
  output_path: ./otelcol

receivers:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/hostmetricsreceiver v0.139.0
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.139.0

processors:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/attributesprocessor v0.139.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourcedetectionprocessor v0.139.0
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.139.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.139.0
  - gomod: github.com/mackerelio/opentelemetry-collector-mackerel/exporter/mackerelotlpexporter v0.2.0

extensions:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension v0.139.0

providers:
  - gomod: go.opentelemetry.io/collector/confmap/provider/envprovider v1.45.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/fileprovider v1.45.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/yamlprovider v1.45.0
