<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.open-telemetry.opentelemetry-collector</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/otelcol.sh</string>
    </array>

    <key>StandardOutPath</key>
    <string>/var/log/otelcol/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/otelcol/stdout.log</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
