---
receivers:
  hostmetrics:
    collection_interval: 1m
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      paging:
      process:
        mute_process_exe_error: true
        mute_process_io_error: true
        mute_process_name_error: true
        mute_process_user_error: true
      processes:
      system:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  attributes/mypc:
    actions:
      - action: upsert
        key: service.namespace
        value: ne-sachirou
      - action: upsert
        key: service.name
        value: ne-sachirou-pc-macbook
  attributes/trace:
    actions:
      - action: upsert
        key: service.namespace
        value: debug
      - action: upsert
        key: service.name
        value: debug
  resourcedetection/system:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]

exporters:
  mackerelotlp:

service:
  pipelines:
    metrics:
      receivers: [hostmetrics]
      processors: [attributes/mypc, resourcedetection/system]
      exporters: [mackerelotlp]
    traces:
      receivers: [otlp]
      processors: [attributes/trace]
      exporters: [mackerelotlp]
